body {
  margin: 0;
  font-family: Arial;
  background: #f0f4ff;
  max-width: 500px;
  margin: auto;
}

/* TOPO */
.topo {
  background: #4169E1;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* PERFIL */
.perfil {
  padding: 10px;
  background: #dbe4ff;
}

/* HISTÓRIA */
#historia {
  background: white;
  height: 200px;
  overflow-y: auto;
  padding: 10px;
}

/* AÇÕES */
#acoes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* LADOS */
#opcoes-esquerda,
#opcoes-direita {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BOTÕES */
#opcoes-esquerda button,
#opcoes-direita button {
  width: 120px;
  padding: 12px;
  border-radius: 15px;
  border: none;
  background: #5a7df0;
  color: white;
}

/* BOTÃO + CENTRAL */
.botao-centro {
  margin: 0 15px;
  width: 70px;
  height: 70px;
  background: #4169E1;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BARRAS */
.barras {
  padding: 10px;
  margin-top: 10px;
}

.blocoBarra {
  margin-bottom: 10px;
}

.barra {
  width: 100%;
  height: 18px;
  background: #ccc;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.progresso {
  height: 100%;
  background: #4169E1;
  color: white;
  text-align: center;
  font-size: 12px;
  transition: width 0.5s;
}

/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 90%;
}

.hidden {
  display: none;
}
