body {
  margin: 0;
  background: #0f172a;
  font-family: Arial;
  display: flex;
  justify-content: center;
}

/* CONTAINER CENTRAL */
.container {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* TOPO */
.topo {
  background: #2563eb;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

/* CARGO */
.cargo-box {
  margin-top: 10px;
}

/* LOG */
#log {
  height: 120px;
  overflow-y: auto;
  background: #020617;
  border-radius: 10px;
  padding: 8px;
  margin: 10px 0;
}

/* BOTÕES ORGANIZADOS */
.botoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

/* BOTÃO + CENTRAL */
#btnPassar {
  grid-column: span 2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

/* BOTÕES */
button {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* BARRAS */
.barras {
  margin-top: auto;
}

.barra {
  position: relative;
  height: 14px;
  background: #1e293b;
  border-radius: 10px;
  margin: 8px 0;
  overflow: hidden;
}

.barra.cargo {
  height: 20px;
}

.barra div {
  height: 100%;
  width: 0%;
  background: #3b82f6;
  transition: width 0.4s;
}

.barra span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
  top: 0;
}

/* POPUP */
#popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
}

.popup {
  background: #020617;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  text-align: center;
}
